:root {
    /* Light Mode Colors */
    --background-color: #ffffff;
    --text-color: #333333;
    --link-color: #8fb300; 
    --header-bg-color: #041426;
    --button-bg-color: #0c56bd;
    --button-text-color: #ffffff;

    /* Dark Mode Colors */
    --dark-background-color: #121212;
    --dark-text-color: #e0e0e0;
    /* --dark-link-color: #ffeb3b;  */
}

h1 {
    color: #1a0202;
    font-family: 'Times New Roman', Times, serif;
    background-color: rgb(180, 216, 247);
    text-align: center;
}



h2 {
    color: #1a0202;
    font-family: 'Times New Roman', Times, serif;
    background-color: rgb(143, 187, 223);
    text-align: center;
}

.date {
    font-weight: bold;
    font-family: 'Times New Roman', serif;
    text-align: center;
    
}

.info p {
    font-weight: normal;
    font-family: 'Times New Roman', Times, serif
}

.bold-text {
    font-weight: bold;
    margin-right: 6px;
}


table {
    width: 100%;
    border-collapse: collapse;
    display: block;
    overflow-x: auto;
    text-align: left;
}

    

td {
    padding: 15px;
    text-align: left;
    font-weight: lighter;
    
}
.team_results, .indiv_results {
    width: 100%;
    overflow-x: auto;
    border-collapse: collapse;
}

th {
    color: white;
    background-color: #3a5f87;
    position: sticky;
    top: 0px;
    z-index: 1;

}

.indiv_results td:hover, .indiv_results td:focus {
    background-color: #56897d;
}

/* Athlete name hover-like effect */
.indiv_results tbody tr td:nth-child(2) {
    cursor: pointer;
    transition: background-color 0.5s ease;
   
  }
  
  .indiv_results tbody tr td:nth-child(2):hover,
  .indiv_results tbody tr td:nth-child(2).visible {
    background-color: #ff3bdb;
  }

tr:nth-child(even) {
    background-color: #d8cdcd;
}


@media (min-width: 768px) {
    table {
        display: table;
    }
}

@supports (display: flex) {
    header {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
  
    
}
    img {
        width: 300%;
        height: auto;
        max-width: 100px; 
    }

a:focus {
    outline: 3px solid #041222;
    outline-offset: 3px;
}

.progress-container {
    width: 100%;
    background-color: #e0e0e0;
    border-radius: 5px;
    margin: 5px 0;
    height: 20px;
    position: relative;
    overflow: hidden;
}

.progress-bar {
    height: 100%;
    background-color: #0b223b;
    border-radius: 10px;
    transition: width 0.5s ease-in-out;
}

.athlete-image {
    width: 100px; 
    height: 100px;
    border-radius: 50%;
    object-fit: cover;
    border: 3px solid #081421;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    display: block;
    margin: 0 auto;
}

.collapse-btn {
    font-weight: bolder;
    font-size: large;
    background-color: #ca344b;
    border: 1px solid #eadcef;
    cursor: pointer;
    transition: background-color 0.3s ease;
}


/* .collapse-btn:hover {
    background-color: #ffeb3b;
} */

@media (prefers-reduced-motion: reduce) {

    .progress-bar {
        transition: none; 
    }
    .collapse-btn {
        transition: none; /
    }

    * {
        scroll-behavior: auto;
    }
}


  

/* Light Mode Styles */
body {
    background-color: var(--background-color);
    color: var(--text-color);
}

nav ul li a {
    color: var(--link-color);
}

header {
    background-color: var(--header-bg-color);
}

button {
    background-color: var(--button-bg-color);
    color: var(--button-text-color);
}



/* Dark Mode Styles 
body.dark-mode {
    background-color: var(--dark-background-color);
    color: var(--dark-text-color);
}

body.dark-mode nav ul li a {
    color: var(--dark-link-color);
}

*/