
h2 {
    color: #1a0202;
    font-family: 'Times New Roman', Times, serif;
    background-color: rgb(143, 187, 223);
    text-align: center;
}

.date {
    font-weight: bold;
    font-family: 'Times New Roman', serif;
    text-align: center;
    
}

.info p {
    font-weight: normal;
    font-family: 'Times New Roman', Times, serif
}

.bold-text {
    font-weight: bold;
    margin-right: 6px;
}


table {
    width: 100%;
    border-collapse: collapse;
    display: block;
    overflow-x: auto;
    text-align: left;
}

    

td {
    padding: 15px;
    text-align: left;
    font-weight: lighter;
    
}
.team_results, .indiv_results {
    width: 100%;
    overflow-x: auto;
    border-collapse: collapse;
}

th {
    color: white;
    background-color: #3a5f87;
    position: sticky;
    top: 100px;
}


tr:nth-child(even) {
    background-color: #d8cdcd;
}


@media (min-width: 768px) {
    table {
        display: table;
    }
}

@supports (display: flex) {
    header {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
  
    
  }
    nav ul {
        display: flex;
        justify-content: center;
        flex-direction: column;
    }

   
    img {
        width: 300%;
        height: auto;
        max-width: 100px; 
    }



a:focus {
    outline: 3px solid #041222;
    outline-offset: 3px;
}

.progress-container {
    width: 100%;
    background-color: #e0e0e0;
    border-radius: 5px;
    margin: 5px 0;
    height: 20px;
    position: relative;
    overflow: hidden;
}

.progress-bar {
    height: 100%;
    background-color: #0b223b;
    border-radius: 10px;
    transition: width 0.5s ease-in-out;
}

.athlete-image {
    width: 100px; 
    height: 100px;
    border-radius: 50%;
    object-fit: cover;
    border: 3px solid #081421;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    display: block;
    margin: 0 auto;
}

.collapse-btn {
    font-weight: bolder;
    font-size: large;
    background-color: #dee9f4;
    border: 1px solid #102444;
    cursor: pointer;
}

.collapse-btn:hover {
    background-color: #ffeb3b;
}
.section {
    display: none;
    opacity: 0;
    transition: opacity 0.5s ease;
}

.section.active {
    display: block;
    opacity: 10;
}

.indiv_results td:hover, .indiv_results td:focus {
    background-color: #ffeb3b;
}